rect.bg {
  stroke-width: 1px;
  /*fill: #FFF;*/
}

path {
  fill: none;
  stroke: black;
  stroke-width: 5;
}

.vertex circle {
  fill: rgb(255, 119, 119);
  stroke: black;
}

circle {
    fill: red;
    stroke: black;
}
